{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'howitworks/css/howitwork.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="flex-row text-center">
        <div class="col">
            <hr>
            <h2 class="logo-font mb-4">HOW IT WORKS</h2>
            <h3>FIND IN OUR STORE WHAT PRODUCT YOU WANT TO CUSTOMIZE</h3> <br>
            <img class="tee" src={% static "images/howitwork.png" %} /> <br><br><br>
            <h3>AFTER MAKING YOUR PURCHASE, CONTACT US BY EMAIL PROVIDING YOUR ORDER NUMBER!</h3><br><br>
            <img class="tee" src={% static "images/ordernumber.png" %} />
            <h6>(CHECK YOUR PROFILE TO FIND OUT MORE DETAILS ABOUT YOUR ORDER)</h6><br><br><br>
            <h3>YOU CAN TRY YOUR DESIGN HERE! (BETTER EXPERIENCE ON DESKTOP SITE)</h3><br><br>
            <img class="tee" src={% static "images/didizin.png" %} /> <br><br>
            <a href="{% url 'create' %}" class="buttonsm">TRY IT NOW</a>
            <hr>
        </div>
    </div>
{% endblock %}